/* Contact.css */
.contact-section {
  background: linear-gradient(rgba(13,13,61,0.5), rgba(30,30,102,0.5)),
              url("../assets/images/login_bg.jpg") center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  animation: bgZoom 20s ease-in-out infinite alternate;
}
.con-left{
 background: linear-gradient(135deg, #007bff, #6f42c1);
}
.msg-send-btn{
      background: linear-gradient(90deg, #6366f1, #8b5cf6);
}
@keyframes bgZoom {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}
