.contact-section {
  background: linear-gradient(rgba(13,13,61,0.5), rgba(30,30,102,0.5)),
              url("../assets/images/login_bg.jpg") center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bgZoom 18s ease-in-out infinite alternate;
  backdrop-filter: blur(3px);
}

/* LIMIT FULL WIDTH CARD */
.contact-card-wrapper {
  max-width: 980px;
  width: 100%;
}

.con-left {
  background: linear-gradient(135deg, #007bff, #6f42c1);
}

.text-gradient {
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient Button */
.btn-gradient {
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}



textarea {
  resize: none;
}

@keyframes bgZoom {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}
