.feedback-card {
  transition: all 0.4s ease;
  border-radius: 20px;
}

.feedback-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.swiper {
  padding-top: 10px;
}
