.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.95) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
}

.active-link {
  color: #ff4ecd !important;
  position: relative;
  font-weight: 700;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 10%;
  width: 80%;
  height: 2px;
  background: linear-gradient(90deg, #ff4ecd, #d633ff);
  border-radius: 3px;
}

.nav-link:hover {
  color: #ff4ecd !important;
  transition: color 0.3s ease;
}
.logo_name{
  margin-right: 20px !important ;
}
