
.users-event-page{
 background-color: #0d0d4d;
  min-height: 100vh;
  width: 100%;
  padding-top: 40px;
}
.dash-head{
      background: linear-gradient(90deg, #6366f1, #8b5cf6);
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    width: 100%;
}